@model MUSIC.Models.PLAYLIST

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Bạn có chắc xóa ca sĩ này khỏi website?</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h4>PLAYLIST</h4>
    <hr />
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hinhnen)
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                <h4 style="color:red; font-weight:500;">
                    @Html.DisplayFor(model => model.ten)
                </h4>
            </td>
            <td>
                <img width="300px" src=" @Html.DisplayFor(model => model.hinhnen)" alt="Alternate Text" />

            </td>
            <td>
                <input type="submit" value="Delete" class="btn dlt btn-default" />
            </td>
        </tr>
    </table>
    <div class="form-actions no-color">
        <td>
            <input type="submit" value="Delete" class="btn dlt btn-default" />
        </td>
        <a class="btn-delete" style="line-height:22px;" href="@Url.Action("Index","CHUDEs")">
            Quay về
            <ion-icon name="return-down-back-outline"></ion-icon>
        </a>
    </div>
}

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<style>
    .dlt {
        background: red;
        color: #000;
        font-weight: 700;
        padding: 10px;
    }

        .dlt:hover {
            background: #1cc88a;
            color: #fff;
        }

    tr td {
        line-height: 140px;
    }

    tr td {
        text-align: center;
    }

    tr th {
        text-align: center;
    }
</style>
