@model MUSIC.Models.BAIHAT

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thêm mới bài hát</h2>

@using (Html.BeginForm("Create", "BAIHATs", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    @{
        MUSIC.Models.DBcontent db = new MUSIC.Models.DBcontent();
        var ab = db.ALBUMs.ToList();
        var cs = db.PLAYLISTs.ToList();
        var tl = db.THELOAIs.ToList();
    }
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.idbaihat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.idbaihat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idbaihat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="fl col-md-10">
        <div class="form-group">
            @Html.LabelFor(model => model.idtheloai, "idtheloai", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <select name="idtheloai">
                    @foreach (var i in tl)
                    {
                        <option value="@i.idtheloai">@i.tentheloai</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.idtheloai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idalbum, "idalbum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <select name="idalbum">
                    @foreach (var i1 in ab)
                    {
                        <option value="@i1.idalbum">@i1.tenalbum</option>

                    }
                </select>
                @Html.ValidationMessageFor(model => model.idalbum, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.idplaylist, "idplaylist", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                <select name="idplaylist">
                    @foreach (var i2 in cs)
                    {
                        <option value="@i2.idplaylist">@i2.ten</option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.idplaylist, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.tenbaihat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.tenbaihat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.tenbaihat, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.lyrics, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-5">
            @Html.EditorFor(model => model.lyrics, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.lyrics, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="fl col-md-10">

        <div class="form-group">
            @Html.LabelFor(model => model.hinhbaihat, htmlAttributes: new { @class = "control-label col-md-5" })
            <div class="col-md-5">
                <input type="file" name="ImgBH" value="" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.linkbaihat, htmlAttributes: new { @class = "control-label col-md-2" })
            <form action="UploadFile" enctype="multipart/form-data">
                <input type="file" id="FileUploadSound" name="ImgBH" value="" />
                <button></button>
            </form>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại", "Index")
</div>
<style>
    .fl{
        display:flex;
    }
</style>