@model MUSIC.Models.BAIHAT

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xóa</h2>

<h3>Bạn có chắc muốn xóa bài hát này</h3>
<div>
    <h4>BAIHAT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ALBUM.tenalbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALBUM.tenalbum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLAYLIST.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAYLIST.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THELOAI.tentheloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THELOAI.tentheloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenbaihat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenbaihat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhbaihat)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.hinhbaihat)" width="300px" alt="Alternate Text" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.casi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.casi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkbaihat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkbaihat)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
