@model MUSIC.Models.BAIHAT

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BAIHAT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ALBUM.tenalbum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALBUM.tenalbum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PLAYLIST.ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PLAYLIST.ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.THELOAI.tentheloai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.THELOAI.tentheloai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tenbaihat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenbaihat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hinhbaihat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hinhbaihat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.casi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.casi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linkbaihat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linkbaihat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idbaihat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
