@model IEnumerable<MUSIC.Models.ALBUM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Album</h2>

<p>
    @Html.ActionLink("Thêm Album mới", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên Album
        </th>
        <th>
            Ca sĩ
        </th>
        <th>Bài Hát</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.tenalbum)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.tencasialbum)
    <td>
        @{
            MUSIC.Models.DBcontent db = new MUSIC.Models.DBcontent();
            var nhac = db.BAIHATs.ToList();
        }
        <ul>
            @foreach (var i in nhac)
            {

                if (item.idalbum == i.idalbum)
                {
                    <li>
                        @i.tenbaihat
                    </li>
                }
            }
        </ul>

    </td>
    <td>
    @Html.ActionLink("Edit", "Edit", new { id = item.idalbum }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.idalbum })
    </td>
</tr>
}

</table>
