@model IEnumerable<MUSIC.Models.THELOAI>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Thể loại</h2>

<p>
    @Html.ActionLink("Thêm mới thể loại nhạc", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CHUDE.tenchude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tentheloai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hinhtheloai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CHUDE.tenchude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tentheloai)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.hinhtheloai)" width="200px" alt="Alternate Text" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idtheloai }) |
            @Html.ActionLink("Details", "Details", new { id=item.idtheloai }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idtheloai })
        </td>
    </tr>
}

</table>
